fastapi==0.112.2
uvicorn==0.30.6
pymongo==4.8.0
pydantic==2.9.1
google-generativeai==0.8.5
python-dotenv==1.0.1
google-ai-generativelanguage==0.6.15
google-auth==2.38.0
google-api-python-client==2.166.0
httpx==0.27.0